In [1]:
%run '0 setup.ipynb'

Collecting pandas
  Using cached pandas-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (11.6 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from pandas) (2021.1)
Collecting numpy>=1.17.3
  Using cached numpy-1.21.0-cp39-cp39-macosx_10_9_x86_64.whl (16.9 MB)
Requirement already satisfied: six>=1.5 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.0 pandas-1.3.0

# Get a dataset

In [2]:
df = pd.read_csv(
    "bcn-meteo-2020.csv",
    header=0,
    names=["Created", "Created hour","Station", "Measure", "Value"],
    usecols=["Created", "Station", "Measure", "Value"],
    parse_dates=[0]
)
df

         Created Station Measure  Value
0     2020-01-01      D5      TM    7.0
1     2020-01-01      D5      TX   11.5
2     2020-01-01      D5      TN    4.6
3     2020-01-01      D5     HRM   81.0
4     2020-01-01      D5     HRX   91.0
...          ...     ...     ...    ...
17102 2020-12-01      X8   RS24h    6.2
17103 2020-12-01      X8   VVM10    2.1
17104 2020-12-01      X8   DVM10  296.0
17105 2020-12-01      X8   VVX10    7.8
17106 2020-12-01      X8  DVVX10  315.0

[17107 rows x 4 columns]

# Create

We test setting a column called "Name" which is composed by concatenating the Station and Measure row with a hyphen. So, for example, for the first row: `D5-TM`.

#### iterrows

In [3]:
%timeit df["Name"] = [row["Station"] + "-" + row["Measure"] for index, row in df.iterrows()]
print(df["Name"].iloc[0])

609 ms ± 21.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
D5-TM

#### itertuples

In [4]:
%timeit df["Name"] = [row.Station + "-" + row.Measure for row in df.itertuples()]
print(df["Name"].iloc[0])

19.6 ms ± 539 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
D5-TM

#### apply

In [5]:
%timeit df["Name"] = df.apply(lambda row: row["Station"] + "-" + row["Measure"], axis=1)
print(df["Name"].iloc[0])

177 ms ± 8.06 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
D5-TM

#### Builtin vectorized

In [6]:
%timeit df["Name"] = df["Station"].str.cat(df["Measure"], sep="-")
print(df["Name"].iloc[0])

4.31 ms ± 434 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
D5-TM

In [7]:
%timeit [val for val in df["Value"] if val > 20]

1.69 ms ± 64.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%timeit df["Value"] > 20

67.6 µs ± 3.31 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)