In [1]:
%run '0 setup.ipynb'

Requirement already satisfied: pandas in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from pandas) (1.21.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/bustawin/repos/venvs/blog/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

### Increasing vectorization by using smaller dtypes

In [2]:
df = pd.DataFrame(data={"a": list(range(10**7)), "b": list(range(10**7, 0, -1))})
df

               a         b
0              0  10000000
1              1   9999999
2              2   9999998
3              3   9999997
4              4   9999996
...          ...       ...
9999995  9999995         5
9999996  9999996         4
9999997  9999997         3
9999998  9999998         2
9999999  9999999         1

[10000000 rows x 2 columns]

In [3]:
df = df.astype(np.int64)
%timeit df.a + df.b

29.2 ms ± 1.53 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [4]:
df = df.astype(np.int32)
%timeit df.a + df.b

12.3 ms ± 856 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [5]:
df = df.astype(np.int8)
%timeit df.a + df.b

1.98 ms ± 70.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)